@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-menu-div{
    float:left;
    margin:10px;
    background-color: tomato;
    width:20%;
    padding: 80px 40px 40px 20px;
}

.nav-menu-div .heading{
    color:white;
    font-size: 30px;
}

nav ul li{
    display:block;
    font-size: 20px;
    
}

nav ul li a{
    text-decoration: none;
    color:white;
    line-height: 50px;
}
.clear-div{
    clear: both;
}
.common-line{
    width:60px;
    height:10px;
    background-color: tomato;
    border-radius: 10px;
    margin-bottom:30px;
}
.body-div{
    width:75%;
    float:right;
    padding-top:100px;
    padding-left:40px;
}
.body-div h1{
    font-size: 4rem;
}

.body-div .showcase,.service,.designer,.package,.contact{
    color:tomato;
    font-size:3rem;
    padding-top:30px;
    padding-bottom:50px;
}

.body-div img{
    width:500px;
    height:500px;
}
.body-div .showcase-images{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:10px;
}

.body-div .designers-images .person{
    height:350px;
    width:350px;
}
.body-div .designers-images{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
}
.body-div .designers-images .designer-info{
    color:grey;
}
.body-div .designers-images .designer-info,.designer-name{
    padding-left:5px;

}

.body-div .card-div{
    background-color: gainsboro;
}
.body-div .basic-div{
    width:50%;
    text-align: center;
    line-height: 100px;
    float:left;
    padding-right: 20px;
}
.body-div .basic-div .basic{
    background-color: grey;
    font-size:50px;
    color:white;
}
.body-div .basic-div .common-basic{
    background-color: gainsboro;
    font-size:20px;
}
.body-div .basic-div .basic-amount{
    background-color: gainsboro;
    font-size:50px;

}
.body-div .basic-div .basic-button{ 
    background-color: gainsboro;
}
.body-div .basic-div .basic-button .btn1{
    padding:15px;
    text-align: center;
    font-size: 30px;
}
.body-div .basic-div #count,#room{
    color:grey;
}
.body-div .basic-div .room-text{
    background-color: gainsboro;
    color:grey;
    font-size:20px;
}

.body-div .pro-div{
    width:50%;
    text-align: center;
    line-height: 100px;
    float:left;
}
.body-div .pro-div .pro{
    background-color: tomato;
    font-size:50px;
    color:white;
}
.body-div .pro-div .common-pro{
    background-color: gainsboro;
    font-size:20px
}
.body-div .pro-div .pro-amount{
    background-color: gainsboro;
    font-size:50px;
}
.body-div .pro-div .pro-button{ 
    background-color:gainsboro;
}
.body-div .pro-div .pro-button .btn2{ 
    background-color: tomato;
    color:white;
    text-align: center;
    font-size: 30px;
    padding:15px;
}
#count-pro,#room-pro{
    color:grey;
}
#basic-plus,#basic-minus,#pro-plus,#pro-minus:hover{
    cursor:pointer;
}
.body-div .pro-div .pro-text{
    background-color: gainsboro;
    color:grey;
    font-size:20px;
    visibility:hidden;
}
.body-div .input-1,.input-2,.input-3{
    padding-top:10px;
    width:100%;
    font-size:30px;

  
}
.body-div .message-div{
    margin-top:10px;
    background-color: tomato;
    text-align: center;
    color:white;
    font-size: 40px;
    font-weight: lighter;
}
